#game-list img {
    border: 1 px solid #000000;
    border-radius: 50%;
    padding: 10px;
    width: 250px;
    aspect-ratio: 16/9;
}

#game-images p {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
}

.game-images {
    border-radius: 100%;
    padding: 20px;
    width: 100px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div {
    text-align: center;
}

h1 {
    text-align: center;
}

body {
    color: rgb(25, 22, 22);
}

h1 {
    color: cornflowerblue;
}

.container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    justify-content: space-evenly;
}

.container #game-images {
    width: 1125px;
    height: 690px;
}

#game-images img {
    margin: 5px;
}

.text {
    display: flex;
    font-size: 30px;
    padding: 50px;
    flex-direction: column;
    justify-content: space-evenly;

}

h1 {
    background-color: #caf3ff;
}

div {
    background-image: linear-gradient(180deg, green, #FFCB32, #B6D084, #F8FFCA);
}

p {
    background-image: rgb(94, 250, 94);
}


.game-list {
    font-size: 20px;
}


















/* body {
    margin: 0;
    font-family:'Times New Roman', Times, serif;
    background-color: lightcyan;
    

}
header {
    font-family: cursive;
    font-size: 50px; 
    justify-content: center;
    display:flex;
    color:black;
    border-color: black;
    border-width: 10px;
}


#new-game {
    font-family:'Times New Roman', Times, serif;
    font-size:14;
    border: black 10px;
    height: 20px;
    width: 60px;
    text-align: center;
    display: flex;
    position: relative;
    justify-self: center;

}
#add-game-btn {
    height: 40px;
    width: 100px;
    position:relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#game-rating {
    justify-content: center;
    display: flex;

}

#game-name {
    justify-content: center;
    display: flex;
}
#game-image {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    
}

#game-description {
    justify-content: center;
    display: flex;
}

#display-likes {
    justify-content: center;
    display: flex;
}

#like-button {
    justify-content: center;
    display: flex;  
}
#dislike-button {
    justify-content: center;
    display: flex;
}

#new-image {
    justify-self: center;
    height:200px;
    width:200px;
}

#list-of-games img {
    padding: 20rem;
    width: 200px;
    height: 200px;
    opacity: .9;
    justify-content: left;
    display:flex;


} */