 #game-list img {
     width: 250px;
     height: 250px;
 }

 #game-images p {
     text-align: center;
     font-size: smaller;
     font-weight: bold;
 }


 .game-images {
     border-radius: 100%;
     padding: 20px;
     width: 100px;
     display: block;
     flex-wrap: wrap;
     justify-content: space-evenly;
 }


 div {
     text-align: center;
 }


 h1 {
     text-align: center;
     font-size: 30px;
 }


 body {
     color: rgb(25, 22, 22);
     background-color: grey;
     /* background-image: url(https://media.istockphoto.com/id/1171564349/video/retro-land.jpg?s=640x640&k=20&c=UytoK5VuR3nXezFTIryRH6D4mHUE846zUBZhlIJA5cw=); */
     /*  */
 }


 h1 {
     font-size: 50px;
     color: rgb(255, 255, 255);
 }


 .container {
     display: flex;
     grid-template-columns: 1fr 1fr 1fr;
     column-gap: 5px;
     justify-content: space-evenly;
 }


 .container #game-images {
     width: 250px;
     height: 250px;
 }


 #game-images img {
     margin: 5px;
 }


 .text {
     display: flex;
     font-size: 30px;
     padding: 50px;
     flex-direction: column;
     justify-content: space-evenly;


 }

 h1 {
     background-color: #000000;
 }



 p {
     background-image: url()
 }