#game-list img {
    border: 1 px solid #000000;
    border-radius: 50%;
    padding: 10px;
    width: 250px;
    aspect-ratio: 16/9;
}

#game-images p {
    text-align: center;
    font-size: smaller;
    font-weight: bold;
}

.game-images {
    border-radius: 100%;
    padding: 20px;
    width: 100px;
    display: block;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

div {
    text-align: center;
}

h1 {
    text-align: center;
}

body {

    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    background-color: lightcyan;


    color: rgb(25, 22, 22);
}


h1 {
    color: cornflowerblue;
}

header {
    font-family: cursive;
    font-size: 50px;
    justify-content: center;
    display: flex;
    color: black;
    border-color: black;
    border-width: 10px;
}

.game-image {

    display: flex;
    justify-content: center;

}

.add-game {
    display: flex;
    justify-content: center;

}

} */

